tr {
  border-top: 1px solid red;
}

td {
  border-right: 1px solid red;
}

tr:nth-child(4) {
  border-top: 3px solid black;
}

tr:nth-child(7) {
  border-top: 3px solid black;
}

td:nth-child(3) {
  border-right: 3px solid black;
}

td:nth-child(6) {
  border-right: 3px solid black;
}



tr.focus td input {
  background-color: pink;
}

input.focus {
  background-color: pink !important;
}

input.active {
  background-color: gray !important;
}
